/**
* idk
*/

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Roboto:100,100i,300,300i,400,400i,700,700i');

// Override theme settings
$mainFont: -apple-system, BlinkMacSystemFont, 
  "Roboto", "Ubuntu", "Segoe UI", 
  "Fira Sans", "Droid Sans", "Helvetica Neue", 
  sans-serif;
$mainColor: #2B2B2B;

$displayFont: 'Playfair Display', "Adobe Caslon Pro","Athelas","Goudy Old Style","Californian FB", Georgia, serif;

$headingFont: $mainFont;
$headingColor: $mainColor;
$headingFontWeight: 700;
$headingTextShadow: none;
$headingTextTransform: none;
$headingLetterSpacing: -0.01em;
$heading1Size: 5rem;
$heading2Size: 4rem;
$heading3Size: 3rem;
$heading4Size: 2.5rem;

$backgroundColor: #fdfdfd;
$linkColor: #a58e19;
$linkColorHover: lighten( $linkColor, 20% );
$selectionColor: $mainColor;
$selectionBackgroundColor: lighten($linkColor, 30%);

$blue: aqua;
$orange: chocolate;


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Theme specific ------------------------------

.highlight {
  background-color: lighten($linkColor,30%);
  box-shadow: -0.2em 0 0 lighten($linkColor,30%),0.2em 0 0 lighten($linkColor,30%);
}

.accent {
  color: $linkColor;
}

.accent-2 {
  color: $blue;
}

.accent-3 {
  color: $orange;
}

.reveal .ghost {
  opacity: 0;
}

.reveal .display {
  font-family: $displayFont;
  font-weight: 700;
}

.reveal .title {
  text-align: left;
  h1 {
    color: $mainColor;
    font-family: $displayFont;
    font-size: 4.5rem;
    text-transform: none;
  }
  h2 {
    color: $mainColor;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

.reveal .small-text {
  font-size: 0.5em;
}

.reveal .darkbg {
  color: $backgroundColor;
  
  h1, h2, h3, h4, h5 {
    color: $backgroundColor !important;
  }
}

html {
  font-feature-settings: "kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 0
}


// Overrides -----------------------------------

.reveal sup {
  font-size: 0.7em;
}

.reveal p {
  text-align: left;
}

.reveal li {
  margin: 0.4em 0;
}

.reveal .controls button {
  opacity: 0;
}
// ---------------------------------------------